// Responsive Web Design - É uma técnica de desenvolvimento de sites que permite que o site se adapte a diferentes tamanhos de tela, como desktops, tablets e smartphones.


// Media Queries - É uma técnica que permite que você aplique estilos CSS diferentes para diferentes tamanhos de tela.

//Mobile First

//desktop
@media (min-width: 992px){
    .hide-on-desktop{
        display: none;
    } 
    .hide-on-mobile{
        display: flex;
        justify-content: space-between;
    }
    .show-on-large-screen{
        display: none;
    }

    .body-site {
        background-color: rgba(0, 0, 0, 0.938);
    }

    .header-top-site > nav {
        width: 100%;
        background-color: #10111F;
        align-items: center;
        height: 150px;
        border: #C69155;
        position: absolute;
        top: -100px;
        & .material-symbols-outlined {
            color: #fff;
            background-color: #10111F;
        }
        & #menu {
            position: absolute;
            top: 118px;
            left: 10px;
        }
        & #lupa {
            position: absolute;
            top: 115px;
            left: 240px;
        }
        & #phone {
            position: absolute;
            top: 115px;
            left: 265px;
        }
        & #profile {
            position: absolute;
            top: 115px;
            left: 295px;
        }
        & #shop {
            position: absolute;
            top: 115px;
            left: 325px;
        }
        .destak {
            position: absolute;
        }
    }
    
    body::-webkit-scrollbar{
        width: 5px;
    }
    
    body::-webkit-scrollbar-track{
        background: gray;
    }
    
    body::-webkit-scrollbar-thumb{
        background-color: #C69155;
        border-radius: 20px;
        border: 3px solid #C69155;
    }
    
    .full-banner {
        & .destak {
            & #image1 {
                width: 100%;
                position: absolute;
            }
        }
        & .butão1 {
            position: absolute;
            top: 480px;
            background: none;
            & #left {
                border: none;
                background: none;
                width: 100px;
            }
    }
    }
    
    
    .header-top-site > nav {
        font-family: oswald;
        font-size: 1.5em;
        align-items: center;
        height: 130px;
        background-color: #10111F;
        color: #fff;
        & .block-logo {
            display: flex;
            flex-basis: 40%;
            align-items: center;
            justify-content: space-around;
            & #logotipo {
                width: 200px;
                height: 200px;
            }
        }
        & ul {
            margin:0;
            padding: 0;
            & > li  {
                display: inline-flex;
                list-style: none;
                min-width: 80px;
                text-align: center;
            }
        }
        &  a {
            color: #fff;
            text-decoration: none;
        }
    }
    
    
    #logo {
        width: 100px;
        height: 115px;
        position: absolute;
        top: -5px;
        left: 130px;
        z-index: 1000px;
    }
    
    .header-top-site {
        position: fixed;
        z-index: 100;
        width: 100%;
    }
    .header-top-site > nav {
        font-family: oswald;
        font-size: 1.5em;
        align-items: center;
        height: 100px;
        background-color: #10111F;
        color: #fff;
        border: #C69155;
        & > div:first-child > .icons-image {
            margin-left: -10%;
            display: flex;
        }
        & .block-logo {
            display: flex;
            flex-basis: 80%;
            align-items: center;
            justify-content: space-around;
            z-index: 1000px;
            & #logotipo{
                width: 100px;
                height: 200px;
                & #logo {
                    width: 160px;
                    height: 180px;
                    position: absolute;
                    top: -10px;
                    left: 715px;
                }
            }
        }
        & ul {
            margin: 0;
            padding: 0;
            & > li{
                display: inline-flex;
                list-style: none;
                min-width: 120px;
                justify-content: center;
                & .profile {
                    position: absolute;
                    left: 1390px;
                    top: 31px;
                }
                & .shop {
                    position: absolute;
                    top: 31px;
                    left: 1525px;
                }
            }
        }
        & a{
            color: #fff;
            text-decoration: none;
        }
    }
    
    .full-banner {
        padding-top: 100px;
        & .destak {
            & #image1 {
                width: 100%;
                position: absolute;
            }
        }
        & .butão1 {
            position: absolute;
            top: 480px;
            background: none;
            & #left {
                border: none;
                background: none;
                width: 100px;
            }
    }
    }

    .parte2 {
        background-color: rgba(0, 0, 0, 0.014);
        & #copo {
            width: 100%;
            padding: 40px;
            & #copo2 {
                width: 100%;
                padding-left: 180px;
                padding-right: 180px;
                padding-top: 10px;
            }
            & .tx1 {
                position: absolute;
                top: 948px;
                color: #fff;
                left: 415px;
                font-family: 'Oswald', sans-serif;
                font-size: x-large;
            }
            & .tx2 {
                position: absolute;
                top: 948px;
                color: #fff;
                left: 955px;
                font-family: 'Oswald', sans-serif;
                font-size: x-large;
            }
          }
          & .cold-coffee {
            position: absolute;
            top: 1100px;
            left: 350px;
            font-size: medium;
            font-family: 'Poppins', sans-serif;
            color: gray;
            & #hover1 {
                & #cold-coffee2 {
                    color: white;
                  }
                  & #icon-cold-coffee {
                    position: absolute;
                    top: -30px;
                    left: -190px;
                    width: 200px;
                }
                & #poligono-hidden {
                    position: absolute;
                    top: -30px;
                    left: -190px;
                    width: 200px;
                    display: none;
                }
            }
          }
          & .grinder {
            position: absolute;
            top: 1280px;
            left: 350px;
            font-size: medium;
            font-family: 'Poppins', sans-serif;
            color: gray;
            & #hover2 {
                & #grinder2 {
                    color: white;
                }
                & #imgs2 {
                    & #icon-grinder {
                        position: absolute;
                        top: -10px;
                        left: -155px;
                        width: 120px;
                        display: block;
                    }
                    & #poligono-hidden2 {
                        position: absolute;
                        top: -10px;
                        left: -155px;
                        width: 120px;
                        display: none;
                    }
                }
            }
          }
          & .coffee-bag {
            position: absolute;
            top: 1460px;
            left: 355px;
            font-size: medium;
            font-family: 'Poppins', sans-serif;
            color: gray;
            & #hover3 {
                & #coffee-bag2 {
                    color: white;
                }
                & #imgs3 {
            & #icon-coffee-bag {
                position: absolute;
                top: -45px;
                left: -175px;
                width: 150px;
                display: block;
            }
            & #poligono-hidden3 {
                position: absolute;
                top: -45px;
                left: -175px;
                width: 150px;
                display: none;
            }
                }
            }
          }
          & .cappuccino {
            position: absolute;
            top: 1100px;
            left: 980px;
            font-size: medium;
            text-align: right;
            font-family: 'Poppins', sans-serif;
            color: gray;
            & #hover4 {
                & #cappuccino2 {
                  color: white;
                }
                & #imgs4 {
                    & #icon-cappuccino {
                        position: absolute;
                        top: -8px;
                        left: 285px;
                        width: 120px;
                        display: block;
                    }
                    & #poligono-hidden4 {
                        position: absolute;
                        top: -8px;
                        left: 285px;
                        width: 120px;
                        display: none;
                    }
                }
            }
          }
          & .machine {
            position: absolute;
            top: 1270px;
            left: 980px;
            font-size: medium;
            text-align: right;
            font-family: 'Poppins', sans-serif;
            color: gray;
            & #hover5 {
                & #machine2 {
                  color: white;
                }
                & #imgs5 {
                    & #icon-machine {
                        position: absolute;
                        top: -8px;
                        left: 285px;
                        width: 120px;
                        display: block;
                    }
                    & #poligono-hidden5 {
                        position: absolute;
                        top: -8px;
                        left: 285px;
                        width: 120px;
                        display: none;
                    }
                }
            }
          }
          & .coffee-pot {
            position: absolute;
            top: 1450px;
            left: 980px;
            font-size: medium;
            text-align: right;
            font-family: 'Poppins', sans-serif;
            color: gray;
            & #hover6 {
                & #coffee-pot2 {
                  color: white;
                }
                & #imgs6 {
                    & #icon-coffee-pot {
                        position: absolute;
                        top: -8px;
                        left: 285px;
                        width: 120px;
                        display: block;
                    }
                    & #poligono-hidden6 {
                        position: absolute;
                        top: -8px;
                        left: 285px;
                        width: 120px;
                        display: none;
                    }
                }
            }
          }

        #hover1:hover {
            & #cold-coffee2 {
                color: #C69155;
                cursor: pointer;
              }
              & #icon-cold-coffee {
                position: absolute;
                top: -30px;
                left: -190px;
                width: 200px;
                display: none;
            }
            & #poligono-hidden {
                position: absolute;
                top: -30px;
                left: -190px;
                width: 200px;
                display: block;
                cursor: pointer;
            }
        }

        #hover2:hover {
            & #grinder2 {
                color: #C69155;
            }
            & #imgs2 {
                & #icon-grinder {
                    position: absolute;
                    top: -10px;
                    left: -155px;
                    width: 120px;
                    display: none;
                }
                & #poligono-hidden2 {
                    position: absolute;
                    top: -10px;
                    left: -155px;
                    width: 120px;
                    display: block;
                    cursor: pointer;
                }
            }
        }

        #hover3:hover {
            & #coffee-bag2 {
                color: #C69155;
            }
            & #imgs3 {
        & #icon-coffee-bag {
            position: absolute;
            top: -45px;
            left: -175px;
            width: 150px;
            display: none;
        }
        & #poligono-hidden3 {
            position: absolute;
            top: -45px;
            left: -175px;
            width: 150px;
            display: block;
            cursor: pointer;
        }
            }
        }

        #hover4:hover {
            & #cappuccino2 {
              color: #C69155;
            }
            & #imgs4 {
                & #icon-cappuccino {
                    position: absolute;
                    top: -8px;
                    left: 285px;
                    width: 120px;
                    display: none;
                }
                & #poligono-hidden4 {
                    position: absolute;
                    top: -8px;
                    left: 285px;
                    width: 120px;
                    display: block;
                    cursor: pointer;
                }
            }
        }

        #hover5:hover {
            & #machine2 {
              color: #C69155;
            }
            & #imgs5 {
                & #icon-machine {
                    position: absolute;
                    top: -8px;
                    left: 285px;
                    width: 120px;
                    display: none;
                }
                & #poligono-hidden5 {
                    position: absolute;
                    top: -8px;
                    left: 285px;
                    width: 120px;
                    display: block;
                    cursor: pointer;
                }
            }
        }

        #hover6:hover {
            & #coffee-pot2 {
              color: #C69155;
            }
            & #imgs6 {
                & #icon-coffee-pot {
                    position: absolute;
                    top: -8px;
                    left: 285px;
                    width: 120px;
                    display: none;
                }
                & #poligono-hidden6 {
                    position: absolute;
                    top: -8px;
                    left: 285px;
                    width: 120px;
                    display: block;
                    cursor: pointer;
                }
            }
        }

        }

        

body {
	font-family: roboto;
	font-weight: 300;
}

.parte3 {
    #img-grao {
        & #grao{
            position: absolute;
            top: 1700px;
            left: 1295px;
            width: 300px;
        }
    }
    & .tx1-pt3 {
        position: absolute;
        top: 1720px;
        left: 695px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        color: #fff;
    }
    & .pequena-xicara {
        & #pequena-xicara2 {
            position: absolute;
            top: 1765px;
            left: 660px;
        }
    }
    & .butao1 {
        & #feature {
        color: white;
        background-color: rgba(0, 0, 0, 0.014);
        box-sizing: border-box;
        text-decoration: none;
        font-weight: bold;
        position: absolute;
        top: 1810px;
        left: 670px;
        padding: 7px;
        }
    }
    & .butao2{
        & #best-seller {
            color: white;
            background-color: rgba(0, 0, 0, 0.014);
            box-sizing: border-box;
            text-decoration: none;
            font-weight: bold;
            position: absolute;
            top: 1810px;
            left: 800px;
            padding: 7px;}
    }

#feature:hover{
    background-color: #C69155;
    color: #fff;
}

#best-seller:hover {
    background-color: #C69155;
    color: #fff;
}

.img1-pt3{
        & #machine-img {
            width: 250px;
            position: absolute;
            top: 1900px;
            left: 150px;
            display: block;
            border: 50px solid rgb(20, 20, 20);
            background-color: rgb(20, 20, 20);
        }
         & #content-editable{
            position: absolute;
            top: 2190px;
            left: 150px;
            color: #fff;
            border: solid rgb(20, 20, 20);
            border-right-width: 84px;
            border-left-width: 80px;
            background-color: rgb(20, 20, 20);
            & #star1 {
                position: absolute;
                left: -10px;
                top: -30px;
                border: none;
                outline: none;
                padding: none;
                color: white;
                cursor: pointer;
            }
            & #star2 {
                position: absolute;
                left: 10px;
                top: -30px;
                cursor: pointer;
            }
            & #star3 {
                position: absolute;
                left: 30px;
                top: -30px;
                cursor: pointer;
            }
            & #star4 {
                position: absolute;
                left: 50px;
                top: -30px;
                cursor: pointer;
            }
            & #star5 {
                position: absolute;
                left: 70px;
                top: -30px;
                cursor: pointer;
            }
            & .txt-img1 {
                position: absolute;
                top: -2px;
                left: -80px;
                color: #fff;
                border: solid rgb(20, 20, 20);
                border-right-width: 92px;
                border-top-width: 12px;
                border-left-width: 90px;
                background-color: rgb(20, 20, 20);
            }
        }
    }
    .img2-pt3{
        & #eletricKettles-img {
            width: 250px;
            position: absolute;
            top: 1900px;
            left: 500px;
            display: block;
            border: 50px solid rgb(20, 20, 20);
            background-color: rgb(20, 20, 20);
        }
         & #content-editable{
            position: absolute;
            top: 2190px;
            left: 500px;
            color: #fff;
            border: solid rgb(20, 20, 20);
            border-right-width: 84px;
            border-left-width: 80px;
            background-color: rgb(20, 20, 20);
            & #star1 {
                position: absolute;
                left: -10px;
                top: -30px;
                border: none;
                outline: none;
                padding: none;
                color: white;
                cursor: pointer;
            }
            & #star2 {
                position: absolute;
                left: 10px;
                top: -30px;
                cursor: pointer;
            }
            & #star3 {
                position: absolute;
                left: 30px;
                top: -30px;
                cursor: pointer;
            }
            & #star4 {
                position: absolute;
                left: 50px;
                top: -30px;
                cursor: pointer;
            }
            & #star5 {
                position: absolute;
                left: 70px;
                top: -30px;
                cursor: pointer;
            }
            & .txt-img2 {
                position: absolute;
                top: -2px;
                left: -80px;
                color: #fff;
                border: solid rgb(20, 20, 20);
                border-right-width: 80px;
                border-top-width: 12px;
                border-left-width: 70px;
                background-color: rgb(20, 20, 20);
            }
        }
    }
    .img3-pt3{
        & #Mocaccino-img {
            width: 250px;
            position: absolute;
            top: 1900px;
            left: 855px;
            display: block;
            border: 60px solid rgb(20, 20, 20);
            border-top-width: 20px;
            background-color: rgb(20, 20, 20);
        }
         & #content-editable{
            position: absolute;
            top: 2190px;
            left: 855px;
            color: #fff;
            border: solid rgb(20, 20, 20);
            border-right-width: 84px;
            border-left-width: 80px;
            background-color: rgb(20, 20, 20);
            & #star1 {
                position: absolute;
                left: -10px;
                top: -30px;
                border: none;
                outline: none;
                padding: none;
                color: white;
                cursor: pointer;
            }
            & #star2 {
                position: absolute;
                left: 10px;
                top: -30px;
                cursor: pointer;
            }
            & #star3 {
                position: absolute;
                left: 30px;
                top: -30px;
                cursor: pointer;
            }
            & #star4 {
                position: absolute;
                left: 50px;
                top: -30px;
                cursor: pointer;
            }
            & #star5 {
                position: absolute;
                left: 70px;
                top: -30px;
                cursor: pointer;
            }
            & .txt-img3 {
                position: absolute;
                top: -2px;
                left: -80px;
                color: #fff;
                border: solid rgb(20, 20, 20);
                border-right-width: 85px;
                border-top-width: 12px;
                border-left-width: 80px;
                background-color: rgb(20, 20, 20);
            }
        }
    }

    .img4-pt3{
        & #CappuccinoCoffee-img {
            width: 250px;
            position: absolute;
            top: 1900px;
            left: 1205px;
            display: block;
            border: 60px solid rgb(20, 20, 20);
            border-top-width: 20px;
            background-color: rgb(20, 20, 20);
        }
         & #content-editable{
            position: absolute;
            top: 2190px;
            left: 1205px;
            color: #fff;
            border: solid rgb(20, 20, 20);
            border-right-width: 84px;
            border-left-width: 80px;
            background-color: rgb(20, 20, 20);
            & #star1 {
                position: absolute;
                left: -10px;
                top: -30px;
                border: none;
                outline: none;
                padding: none;
                color: white;
                cursor: pointer;
            }
            & #star2 {
                position: absolute;
                left: 10px;
                top: -30px;
                cursor: pointer;
            }
            & #star3 {
                position: absolute;
                left: 30px;
                top: -30px;
                cursor: pointer;
            }
            & #star4 {
                position: absolute;
                left: 50px;
                top: -30px;
                cursor: pointer;
            }
            & #star5 {
                position: absolute;
                left: 70px;
                top: -30px;
                cursor: pointer;
            }
            & .txt-img4 {
                position: absolute;
                top: -3px;
                left: -80px;
                color: #fff;
                border: solid rgb(20, 20, 20);
                border-right-width: 50px;
                border-top-width: 15px;
                border-left-width: 55px;
                background-color: rgb(20, 20, 20);
            }
        }
    }
    .img5-pt3{
        & #ColdCoffee-img {
            width: 250px;
            position: absolute;
            top: 2300px;
            left: 150px;
            display: block;
            border: 60px solid rgb(20, 20, 20);
            border-top-width: 20px;
            background-color: rgb(20, 20, 20);
        }
         & #content-editable{
            position: absolute;
            top: 2590px;
            left: 150px;
            color: #fff;
            border: solid rgb(20, 20, 20);
            border-right-width: 84px;
            border-left-width: 80px;
            background-color: rgb(20, 20, 20);
            & #star1 {
                position: absolute;
                left: -10px;
                top: -30px;
                border: none;
                outline: none;
                padding: none;
                color: white;
                cursor: pointer;
            }
            & #star2 {
                position: absolute;
                left: 10px;
                top: -30px;
                cursor: pointer;
            }
            & #star3 {
                position: absolute;
                left: 30px;
                top: -30px;
                cursor: pointer;
            }
            & #star4 {
                position: absolute;
                left: 50px;
                top: -30px;
                cursor: pointer;
            }
            & #star5 {
                position: absolute;
                left: 70px;
                top: -30px;
                cursor: pointer;
            }
            & .txt-img5 {
                position: absolute;
                top: -3px;
                left: -80px;
                color: #fff;
                border: solid rgb(20, 20, 20);
                border-right-width: 87px;
                border-top-width: 15px;
                border-left-width: 75px;
                background-color: rgb(20, 20, 20);
            }
        }
    }

    .img6-pt3{
        & #nescafe-img {
            width: 250px;
            position: absolute;
            top: 2300px;
            left: 500px;
            display: block;
            border: 50px solid rgb(20, 20, 20);
            background-color: rgb(20, 20, 20);
        }
         & #content-editable{
            position: absolute;
            top: 2590px;
            left: 500px;
            color: #fff;
            border: solid rgb(20, 20, 20);
            border-right-width: 84px;
            border-left-width: 80px;
            background-color: rgb(20, 20, 20);
            & #star1 {
                position: absolute;
                left: -10px;
                top: -30px;
                border: none;
                outline: none;
                padding: none;
                color: white;
                cursor: pointer;
            }
            & #star2 {
                position: absolute;
                left: 10px;
                top: -30px;
                cursor: pointer;
            }
            & #star3 {
                position: absolute;
                left: 30px;
                top: -30px;
                cursor: pointer;
            }
            & #star4 {
                position: absolute;
                left: 50px;
                top: -30px;
                cursor: pointer;
            }
            & #star5 {
                position: absolute;
                left: 70px;
                top: -30px;
                cursor: pointer;
            }
            & .txt-img6 {
                position: absolute;
                top: -2px;
                left: -80px;
                color: #fff;
                border: solid rgb(20, 20, 20);
                border-right-width: 97px;
                border-top-width: 12px;
                border-left-width: 90px;
                background-color: rgb(20, 20, 20);
            }
        }
    }
    .img7-pt3{
        & #coffeePot-img {
            width: 250px;
            position: absolute;
            top: 2300px;
            left: 855px;
            display: block;
            border: 50px solid rgb(20, 20, 20);
            background-color: rgb(20, 20, 20);
        }
         & #content-editable{
            position: absolute;
            top: 2590px;
            left: 855px;
            color: #fff;
            border: solid rgb(20, 20, 20);
            border-right-width: 84px;
            border-left-width: 80px;
            background-color: rgb(20, 20, 20);
            & #star1 {
                position: absolute;
                left: -10px;
                top: -30px;
                border: none;
                outline: none;
                padding: none;
                color: white;
                cursor: pointer;
            }
            & #star2 {
                position: absolute;
                left: 10px;
                top: -30px;
                cursor: pointer;
            }
            & #star3 {
                position: absolute;
                left: 30px;
                top: -30px;
                cursor: pointer;
            }
            & #star4 {
                position: absolute;
                left: 50px;
                top: -30px;
                cursor: pointer;
            }
            & #star5 {
                position: absolute;
                left: 70px;
                top: -30px;
                cursor: pointer;
            }
            & .txt-img7 {
                position: absolute;
                top: -2px;
                left: -80px;
                color: #fff;
                border: solid rgb(20, 20, 20);
                border-right-width: 88px;
                border-top-width: 12px;
                border-left-width: 85px;
                background-color: rgb(20, 20, 20);
            }
        }
    }

    .img8-pt3{
        & #coffeeBag-img {
            width: 250px;
            position: absolute;
            top: 2300px;
            left: 1205px;
            display: block;
            border: 50px solid rgb(20, 20, 20);
            background-color: rgb(20, 20, 20);
        }
         & #content-editable{
            position: absolute;
            top: 2590px;
            left: 1205px;
            color: #fff;
            border: solid rgb(20, 20, 20);
            border-right-width: 84px;
            border-left-width: 80px;
            background-color: rgb(20, 20, 20);
            & #star1 {
                position: absolute;
                left: -10px;
                top: -30px;
                border: none;
                outline: none;
                padding: none;
                color: white;
                cursor: pointer;
            }
            & #star2 {
                position: absolute;
                left: 10px;
                top: -30px;
                cursor: pointer;
            }
            & #star3 {
                position: absolute;
                left: 30px;
                top: -30px;
                cursor: pointer;
            }
            & #star4 {
                position: absolute;
                left: 50px;
                top: -30px;
                cursor: pointer;
            }
            & #star5 {
                position: absolute;
                left: 70px;
                top: -30px;
                cursor: pointer;
            }
            & .txt-img8 {
                position: absolute;
                top: -2px;
                left: -80px;
                color: #fff;
                border: solid rgb(20, 20, 20);
                border-right-width: 83px;
                border-top-width: 12px;
                border-left-width: 85px;
                background-color: rgb(20, 20, 20);
            }
        }
    }
   .seta-direita{
    position: absolute;
    top: 2700px;
    left: 820px;
    & #sd{
        width: 40px;
    }
   }
   .seta-esquerda{
    position: absolute;
    top: 2700px;
    left: 750px;
    & #se{
        width: 40px;
    }
   }
}

.parte4 {
    & #demo {
        & #starbucks {
            width: 550px;
            position: absolute;
            top: 2820px;
            left: 220px;
        }
        & #bag-coffe {
            position: absolute;
            top: 2820px;
            left: 820px;
            width: 550px;
        }
        & #demo3 {
            position: absolute;
            top: 3150px;
            left: 220px;
            width: 1150px;
        }
}
.material-symbols-outlined {
    font-size: 80px;
}
    .service-icons{
        & #airplane{
            position: absolute;
            top: 3600px;
            left: 250px;
            color: white;
            width: 50px;
        }
    & #fd {
        position: absolute;
        top: 3700px;
        left: 235px;
        color: #fff;
        font-family: 18px 'Oswald',sans-serif;
        font-weight: bold;
    }
    & #tx1-fd{
        position: absolute;
        top: 3730px;
        left: 160px;
        color: #fff;
        font-family: 18px 'Poppins',sans-serif;
    }
    & #money {
        position: absolute;
        top: 3600px;
        left: 750px;
        color: white;
        width: 50px;
    }
    & #mn {
        position: absolute;
        top: 3700px;
        left: 755px;
        color: #fff;
        font-family: 18px 'Oswald',sans-serif;
        font-weight: bold;
    }
    & #tx1-mn{
        position: absolute;
        top: 3730px;
        left: 650px;
        color: #fff;
        font-family: 18px 'Poppins',sans-serif;
    }
    & #phone-icon {
        position: absolute;
        top: 3600px;
        left: 1250px;
        color: white;
        width: 50px;
    }
    & #ph {
        position: absolute;
        top: 3700px;
        left: 1240px;
        color: #fff;
        font-family: 18px 'Oswald',sans-serif;
        font-weight: bold;
    }
    & #tx1-ph{
        position: absolute;
        top: 3730px;
        left: 1180px;
        color: #fff;
        font-family: 18px 'Poppins',sans-serif;
    }
    }
    
    .airplane1:hover {
        #airplane{
            position: absolute;
            top: 3600px;
            left: 250px;
            color: #C69155;
            width: 50px;
        }
        & #fd {
        position: absolute;
        top: 3700px;
        left: 235px;
        color: #C69155;
        font-family: 18px 'Oswald',sans-serif;
        font-weight: bold;
        }
    }
    .money1:hover{
        #money:hover {
            position: absolute;
            top: 3600px;
            left: 750px;
            color: #C69155;
            width: 50px;
        }
        & #mn {
            position: absolute;
            top: 3700px;
            left: 755px;
            color: #C69155;
            font-family: 18px 'Oswald',sans-serif;
            font-weight: bold;
        }
    }
    
        .phone1:hover{
            #phone-icon {
                position: absolute;
                top: 3600px;
                left: 1250px;
                color: #C69155;
                width: 50px;
            }
            & #ph {
                position: absolute;
                top: 3700px;
                left: 1240px;
                color: #C69155;
                font-family: 18px 'Oswald',sans-serif;
                font-weight: bold;
            }
        }
}
    .parte5{
       background-image: url('assets/images/cafeteria.jpg');
       background-position: right center;
    }
    
}