/* Error: Top-level selectors may not contain the parent selector "&".
 *     ,
 * 318 |             & .grão {
 *     |             ^
 *     '
 *   assets\sass\header.scss 318:13  @import
 *   assets\sass\index.scss 3:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a     \2577 \a 318 \2502              & .grão {\d\a     \2502              ^\a     \2575 \a   assets\\sass\\header.scss 318:13  @import\a   assets\\sass\\index.scss 3:9      root stylesheet';
}
